BasedOnStyle: Microsoft

IndentWidth: 4
TabWidth: 4
UseTab: Never

BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: InlineOnly
BreakConstructorInitializers: AfterColon
PackConstructorInitializers: Never

ColumnLimit: 120

SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInAngles: false
SpaceAfterCStyleCast: false

AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false

NamespaceIndentation: All
IndentExternBlock: AfterExternBlock

PointerAlignment: Left
DerivePointerAlignment: false

IncludeBlocks: Preserve
IncludeCategories:
  - Regex:           '^<.*\.h>$'
    Priority:        1
    SortPriority:    0
    CaseSensitive:   false
  - Regex:           '^".*"$'
    Priority:        2
SortIncludes: true